<div class="jumbotron about-wrapper" id="content">
  <h1>Let's try out some Snack Bars!</h1>
  <button class="active" mat-button (click)="noteService.info('Success!')">Open Info Notification</button>
  <button class="active" mat-button (click)="noteService.success('Success!')">Open Success Notification</button>
  <button class="active" mat-button (click)="noteService.warn('Success!')">Open Warn Notification</button>
  <button class="active" mat-button (click)="noteService.error('Success!')">Open Error Notification</button>
  <button class="active" mat-button (click)="noteService.default('Success!')">Open Default Notification</button>
</div>
