<mat-toolbar color="primary">
  <span routerLink="/dashboard/home" class="branding spacer d-none d-md-inline">
    {{ 'Angular Skeleton' }}
  </span>
  <span class="nav-buttons">
    <button mat-button class="nav-button" *ngFor="let item of navItems" [routerLink]="[item.link]"
      routerLinkActive="active">
      {{ item.title }}
    </button>
  </span>
  <div class="menu-wrapper">
    <mat-menu #appMenu="matMenu" xPosition="before">
      <button mat-menu-item>
        <span>Dark Theme</span>
        <mat-slide-toggle [checked]="isDarkTheme" (change)="toggleTheme($event.checked)" (click)="$event.stopPropagation();"></mat-slide-toggle>
      </button>
<!--      <button mat-menu-item>Logout</button> -->
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
