$my-dark-primary: mat-palette($mat-grey, 700, 300, 900);
$my-dark-accent: mat-palette($mat-blue-grey, 400);
$my-dark-warn: mat-palette($mat-red, 500);

$my-dark-theme: mat-dark-theme(
  $my-dark-primary,
  $my-dark-accent,
  $my-dark-warn
);
